#
d = input("введите число - ")
f = input("введите второе число - ")
g = input("введите третие число - ")
print(int(d+f+g))
#
# # задание 2
a = int(input("Введите первое число: "))
b = int(input("Введите второе число: "))
d = int(input("Введите третье число: "))
c = int(input("Введите четвёртое число: "))

result = a * b * d * c
print("Сумма введенных чисел:", result)

# # задание 3

m = float(input('м: '))
print(f'{m} м = {10 * m} дм')
print(f'{m} м = {100 * m} см')
print(f'{m} м = {1000 * m} мм')
print(f'{m} метров = {m / 1609} миль')

 #  задание 4

t = int(input("введите значения основания треугольника - "))
t_2 = int(input("введите васоту треугольника - "))
print(f'{t*t_2}')



 # задание 5

num = -123
reversed_num = int(str(abs(num))[::-1]) * (-1 if num < 0 else 1)
print(reversed_num)
